@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');

    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
        color: #333;
    }

    header {
        background-color: #000;
        color: #fff;
        padding: 20px;
        text-align: center;
    }

    header h1 {
        margin: 0;
        font-size: 2.0rem;
        font-family: "Playwrite CU", cursive;
    }

    .hero {
        background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/index_image_bg.jpg') no-repeat center center/cover;
        height: 70vh;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    }

    .hero h2 {
        font-size: 3rem;
        margin: 0;
    }

    .content {
        padding: 40px 20px;
        text-align: center;
    }

    .content h3 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .content p {
        font-size: 1.2rem;
        line-height: 1.6;
        margin-bottom: 20px;
    }

    .cta-button {
        display: inline-block;
        padding: 10px 20px;
        font-size: 1.2rem;
        color: #fff;
        background-color: #000;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    .cta-button:hover {
        background-color: #333;
    }

    footer {
        background-color: #000;
        color: #fff;
        padding: 10px;
        text-align: center;
    }

    footer p {
        margin: 0;
    }
