@import url(header.css);
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}
.product-container {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-image{
    align-self: center;
    justify-content: center;
    margin-top: 10px;
}

.product-image img{
    width: 450px;
}

.product-details {
    padding: 20px;
}
.product-title {
    font-size: 28px;
    margin-bottom: 10px;
}
.product-description {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
}
.product-price {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.product-buttons{
    flex-direction: row;
    display: flex;
}

.cart-btn, .buy-btn {
    display: inline-block;
    width: 48%;
    padding: 12px;
    text-align: center;
    border-radius: 4px;
    font-size: 0.9em;
    cursor: pointer;
    margin: 5px 1%;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
}

.cart-btn {
    background-color: #000;
    color: #fff;
    border: none;
}

.cart-btn:hover {
    background-color: #999;
    color: #fff;
}

.buy-btn {
    background-color: transparent;
    color: #000;
    border: none;
}

.buy-btn:hover {
    background-color: #ccc;
    color: #000;
}